input[type="text"].textfield-big {
    font-size: 2em;
    height:auto;
}

label {
    color: #CCCCCC;
}

.header-row {
    background-color: #333;
    color: white;
    padding:2rem 0;
}
.header-row h1 {
    color: white;
}

.header-icon {
    font-size:144px;
}

.rep-title {
    font-size: 14pt;
}

.rep-photo-container {
    padding: 10px;
    border:1px solid #CCCCCC;
}

.rep-link {
    font-size: 28px;
}

.rep-label {
    vertical-align: super;
}

@media only screen and (min-width: 40.063em) {
    .header-row {
        background-color: #333;
        color: white;
        padding:6rem 0;
    }
}